* {
    background-color:rgb(0, 0, 0);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
/* header and nav bar */
header {
    background-color: teal;
}
header h1 {
    padding: 20px;
    background-color: teal;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
}
header nav {
    float: right;
    margin-right: 5rem;
    margin-top: 2.5rem;
    background-color: teal;
}
header ul {
    list-style-type: none;
    background-color: teal;
}
header li {
    display: inline;
    justify-content: space-evenly;

}

/* background photo */

.avatar {
  background-image: url('../img/code.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  width: 100%;
}


/* twitch info */

.float-left {
    height: 5rem;
    width: 15rem;
}